<div style="padding-left:5px;padding-top:5px;">
{% for user in users %}
<b><a href='#'>{{ user.usr }}</a> </b>
    {% ifequal user.usr "(Anonymous)" %}
    <span class='pdate'>({{ user.ch }})</span>
    {% endifequal %}
    <br />
    {% endfor %}
    <!--
                  <hr />
                    <small>
                    Kalau gagal join, gunakan password GDI yang lama. Beberapa user baru belum diperbolehkan untuk join.<br /><br />
                    Shoutbox masih dalam status BETA. Entry bisa dihapus tiap saat dan shoutbox bisa di take-down tiap saat. Enjoy.
	    </small>
	    -->
</div>
